*{
    font-family: Roboto, sans-serif;
}
.header, .one{
    color:#F9FAF8;
    font-size: 24px;
    display: flex;
    font-weight: bold;
    border: 0;
    align-items: center;
    justify-content: space-between;
    gap: 16px;
    padding: 0 192px;
}

.container{
    background-color: #1F2937;
}

body{
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
}
.body{
    background-color: #1F2937;

}
.one{
    color:#F9FAF8;
    background-color: #1F2937;
    display: flex;
    margin-bottom: 64px;
}

.two, .three, .four{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 64px;
}

.three{
    background-color: #e5e7eb;
    padding: 50px 200px;
    align-items: flex-end;
}
.four{
    flex-direction: row;
    background-color: #3882f6;
    padding: 40px;
    margin: 50px 200px 100px 200px;
    align-items: center;
    justify-content: center;
    border-radius: 20px;
    gap: 30%;
}
.quote{
    color: #1f2937;
    font-size: 36px;
    font-weight: lighter;
    font-style: italic;
}

.footer{
    color:#F9FAF8;
    background-color: #1F2937;
    padding: 16px;
    text-align: center;
}

.link, .secondary{
    color: #e5e7eb;
    font-size: 18px;
    display: flex;
    gap: 16px;
}
.information{
    font-size: 36px;
    color: #1F2937;
    font-weight:bolder;
}

.call{
    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content: center;
}

.bigger{
    font-size: 36px;
    color: #e5e7eb;
    font-weight: bolder;
    margin: 0;
}

.smaller{
    color: #e5e7eb;
    font-weight: lighter;
}
.cards
{
    display: flex;
    justify-content: center;
    text-align: center;
    gap: 20px;

}
.card{
    border: 1px solid #eee;
    box-shadow: 2px 4px 16px rgba(0,0,0,.06);
    border-radius: 10%;
    padding: 8px;
    width: 300px;
    height: 300px;
}
.main{
    font-size: 48px;
    font-weight: bolder;
    color: #f9faf8;
}
ul{
    list-style-type: none;

}
a{
    font-weight: normal;
    text-decoration: none;
    color: #f9faf8;
}

button{
    background-color: #3882f6;
    color: #e5e7eb;
    padding: 8px 25px;
    border-radius: 20px;
    border-color: black;
}
#webdev{
    width: 50%;
    height: auto;
}
.pics{
    max-width: 100%;
    max-height: 100%;
    border-radius: 10%;
    object-fit: cover;
    aspect-ratio: 1;
}
html {
    scroll-behavior: smooth;
}
  